
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_cubetheme.cshtml";
}


<header id="gtco-header" class="gtco-cover" role="banner">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="row">
                            <div class="col-md-5 text-center header-img animate-box">
                                <img src="@Url.Content("~/Content/mythemehomepage/")images/cube.png" alt="CTRL+Lake Solutions">
                            </div>
                            <div class="col-md-7 copy animate-box">
                                <h1>Il tuo Lago come non lo hai mai visto prima</h1>
                                <p>Prenota, noleggia, gestisci la tua vacanza comodamente da casa. Inizia Subito!</p>
                                <p><a href="~/Account/Login" target="_blank" class="btn btn-white">Accedi Subito</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END #gtco-header -->