body {
  background-color: rgb(102, 207, 214);
  font: 400 1em/1.38 'Fauna One';
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  float: left;
  clear: both;
  width: 59.6323267301%;
  height: 22px;
  margin: 20px 0 0 20.25143%;
}

.container,
.element {
  float: left;
}

.container .element {
  clear: both;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.point-text {
  display: block;
  float: left;
  margin-left: 6px;
  font-family: Helvetica;
  font-style: italic;
  text-align: center;
}

.text {
  float: left;
  color: rgb(0, 0, 0);
}

.wrapper {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
}

._input {
  display: block;
  position: relative;
  float: left;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

._select {
  display: block;
  position: relative;
  float: left;
  z-index: 32;
  width: 22.8706624605%;
  height: 27px;
  margin: 6px 0 0 1.4516%;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-family: Helvetica;
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: relative;
  z-index: 9;
  width: 52.8333333333%;
  height: 297px;
  margin: 75px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-2 {
  position: relative;
  z-index: 17;
  width: 25.5833333333%;
  height: 166px;
  margin: 75px 0 0 1.58073%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 48;
  width: 52.8333333333%;
  height: 699px;
  margin: 23px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-4 {
  position: relative;
  z-index: 55;
  width: 25.5833333333%;
  height: 152px;
  margin: 23px 0 0 1.58073%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-5 {
  position: relative;
  clear: both;
  z-index: 23;
  width: 25.5833333333%;
  height: 385px;
  margin: -527px 0 0 64.41667%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-6 {
  position: relative;
  z-index: 4;
  width: 25.5833333333%;
  height: 122px;
  margin: -122px 0 0 64.41667%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-7 {
  width: 79.9973958333%;
  height: 129px;
  margin: 18px 0 0 10%;
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 48px;
  background-color: rgb(0, 100, 255);
}

.element-3 {
  width: 100%;
  margin-left: -0.0509%;
}

.element-2,
.element-4,
.element-5 {
  width: 100%;
}

.element-6 {
  width: 100.0560167031%;
  margin-left: -0.05599%;
}

.element-7 {
  width: 100.0661644951%;
  margin: 9px 0 0 -0.06616%;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 1;
  width: 18.8333333333%;
  min-height: 25px;
  margin: -36px 0 0 10%;
  font-family: Ubuntu;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.text-10 {
  position: relative;
  clear: both;
  z-index: 33;
  width: 21.7665615141%;
  min-height: 27px;
  margin: 6px 0 0 9.77918%;
  font-family: Verdana;
  font-size: 0.875em;
  text-align: right;
}

.text-11 {
  position: relative;
  z-index: 37;
  width: 12.9337539432%;
  min-height: 27px;
  margin-top: 6px;
  font-family: Verdana;
  font-size: 0.875em;
  text-align: right;
}

.text-12 {
  position: relative;
  clear: both;
  z-index: 39;
  width: 28.8643533123%;
  min-height: 27px;
  margin: 19px 0 0 9.77918%;
  font-family: Verdana;
  font-size: 0.875em;
  text-align: right;
}

.text-13 {
  position: relative;
  z-index: 41;
  width: 12.9337539432%;
  min-height: 27px;
  margin-top: 19px;
  font-family: Verdana;
  font-size: 0.875em;
  text-align: right;
}

.text-14 {
  position: relative;
  clear: both;
  z-index: 46;
  width: 28.8643533123%;
  min-height: 27px;
  margin: 19px 0 0 9.77918%;
  font-family: Verdana;
  font-size: 0.875em;
  text-align: right;
}

.text-15 {
  position: relative;
  z-index: 44;
  width: 12.9337539432%;
  min-height: 27px;
  margin-top: 19px;
  font-family: Verdana;
  font-size: 0.875em;
  text-align: right;
}

.text-16 {
  width: 47.2577277588%;
  min-height: 24px;
  margin: 5px 0 0 26.44035%;
  font-size: 1em;
  text-align: center;
}

.text-17 {
  width: 53.0944625407%;
  min-height: 24px;
  margin: 13px 0 0 26.74064%;
  font-size: 1em;
  text-align: center;
}

.text-18 {
  clear: both;
  width: 73.4309836232%;
  min-height: 24px;
  margin: 9px 0 0 12.7544799999%;
  font-size: 1em;
  text-align: center;
}

.text-2 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 9px 0 0 3.02642%;
  font-size: 1em;
}

.text-3 {
  width: 35.5048859934%;
  min-height: 24px;
  margin: 8px 0 0 32.8634%;
  font-size: 1em;
  text-align: center;
}

.text-4 {
  position: relative;
  clear: both;
  z-index: 11;
  width: 35.4794381107%;
  min-height: 35px;
  margin: 17px 0 0 -0.0509%;
  font-family: Georgia;
  font-size: 1em;
  text-align: right;
}

.text-5 {
  position: relative;
  clear: both;
  z-index: 15;
  width: 24.4299674267%;
  min-height: 35px;
  margin-left: 11.08001%;
  font-family: Georgia;
  font-size: 1em;
  text-align: right;
}

.text-6 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 5px 0 0 32.99734%;
  font-size: 1em;
  text-align: center;
}

.text-7 {
  clear: both;
  width: 35.58261041%;
  min-height: 24px;
  margin: 6px 0 0 32.99241%;
  font-size: 1em;
  text-align: center;
}

.text-8 {
  clear: both;
  width: 54.5741324921%;
  min-height: 24px;
  margin: 12px 0 0 22.70554%;
  font-size: 0.875em;
  text-align: center;
}

.text-9 {
  clear: both;
  width: 54.5741324921%;
  min-height: 24px;
  margin: 13px 0 0 22.70554%;
  font-size: 0.875em;
  text-align: center;
}

.wrapper-1 {
  clear: both;
  width: 100%;
  height: 168px;
  margin-top: 29px;
  overflow: visible;
}

.wrapper-2 {
  position: relative;
  z-index: 10;
  width: 56.7039674465%;
  height: 24px;
  margin: 17px 0 0 2.94178%;
  overflow: hidden;
}

.wrapper-3 {
  clear: both;
  width: 80.2563091482%;
  height: 191px;
  margin: 10px 0 0 9.8383299999%;
  overflow: hidden;
}

.wrapper-4 {
  clear: both;
  width: 80.2563091482%;
  height: 149px;
  margin-left: 9.8383280757%;
  overflow: hidden;
}

.wrapper-5 {
  position: relative;
  z-index: 40;
  width: 16.2460567823%;
  height: 27px;
  margin: 19px 0 0 0.97595%;
  overflow: hidden;
}

.wrapper-6 {
  position: relative;
  z-index: 47;
  width: 16.2460567823%;
  height: 27px;
  margin: 19px 0 0 0.97595%;
  overflow: hidden;
}

.wrapper-7 {
  clear: both;
  width: 99.9898280948%;
  height: 239px;
  overflow: hidden;
}

.wrapper-8 {
  clear: both;
  width: 99.9898280948%;
  height: 47px;
  margin-left: -0.05599%;
  overflow: hidden;
}

._button-1 {
  position: relative;
  z-index: 56;
  width: 6.8333333333%;
  height: 25px;
  margin: -36px 0 0 77.19922%;
  background-color: rgb(215, 216, 39);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.container ._button-10 {
  clear: both;
  width: 53.0944625407%;
  height: 37px;
  margin: 11px 0 0 23.45277%;
  background-color: rgb(215, 216, 39);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.container ._button-2 {
  clear: both;
  width: 12.9337539432%;
  height: 25px;
  margin: 22px 0 0 77.22299%;
  background-color: rgb(215, 216, 39);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.container ._button-3 {
  clear: both;
  width: 26.7100977198%;
  height: 25px;
  margin: 6px 0 0 38.37032%;
  background-color: rgb(215, 216, 39);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.container ._button-4 {
  position: relative;
  z-index: 26;
  width: 15.7728706624%;
  height: 27px;
  margin: 6px 0 0 3.13486%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-5 {
  position: relative;
  z-index: 36;
  width: 15.7728706624%;
  height: 27px;
  margin: 19px 0 0 3.125%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-6 {
  position: relative;
  z-index: 43;
  width: 15.7728706624%;
  height: 27px;
  margin: 19px 0 0 3.22112%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-7 {
  clear: both;
  width: 25.7097791798%;
  height: 27px;
  margin: 32px 0 0 38.60903%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-8 {
  clear: both;
  width: 59.6425115852%;
  height: 37px;
  margin: 14px 0 0 20.25143%;
  background-color: rgb(224, 82, 82);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.container ._button-9 {
  width: 53.4201954397%;
  height: 37px;
  margin: 18px 0 0 23.37643%;
  background-color: rgb(215, 216, 39);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.container ._input-1 {
  z-index: 16;
  width: 56.6775244299%;
  height: 24px;
  margin-left: 2.93669%;
  font-family: Georgia;
}

.container ._input-2 {
  z-index: 38;
  width: 8.548895899%;
  height: 27px;
  margin: 6px 0 0 1.69805%;
  font-family: Verdana;
}

.container ._input-3 {
  z-index: 42;
  width: 8.5469242902%;
  height: 27px;
  margin: 19px 0 0 1.69805%;
  font-family: Verdana;
}

.container ._input-4 {
  z-index: 45;
  width: 8.5469242902%;
  height: 27px;
  margin: 19px 0 0 1.69805%;
  font-family: Verdana;
}

.point-text strong,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}