body {
  background-color: rgb(102, 207, 214);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  height: 27px;
}

.container,
.element {
  float: left;
}

.container .container {
  clear: both;
  width: 80.2839116719%;
  height: 128px;
  margin: 16px 0 0 9.77918%;
}

.container .element {
  clear: both;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.point-text {
  display: block;
  float: left;
  margin-left: 6px;
}

.text {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.wrapper {
  float: left;
  clear: both;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
}

._select {
  display: block;
  position: relative;
  float: left;
  width: 13.8936612713%;
  height: 27px;
  margin-top: -27px;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.checkbox-label-1 {
  z-index: 18;
  width: 29.2250655574%;
  margin-left: -0.05833%;
}

.checkbox-label-2 {
  z-index: 21;
  width: 23.7408445609%;
  margin-top: 9px;
}

.container-1 {
  position: relative;
  clear: both;
  z-index: 35;
  width: 52.8333333333%;
  height: 384px;
  margin: 23px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-3 {
  position: relative;
  z-index: 15;
  width: 25.5833333333%;
  height: 384px;
  margin: 23px 0 0 1.56641%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-4 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 52.8333333333%;
  height: 297px;
  margin: 33px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 48px;
  background-color: rgb(230, 230, 230);
}

.element-2 {
  width: 100%;
}

.element-3 {
  width: 100.0661644951%;
  margin: 9px 0 0 -0.06616%;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 3;
  width: 13.5833333333%;
  min-height: 25px;
  margin: -36px 0 0 10%;
  font-family: Ubuntu;
  font-weight: 300;
  text-align: center;
}

.text-10 {
  width: 73.4309836232%;
  min-height: 24px;
  margin: 13px 0 0 12.7544799999%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-11 {
  clear: both;
  width: 73.4309836232%;
  min-height: 24px;
  margin: 9px 0 0 12.7544799999%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-12 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 9px 0 0 3.02642%;
  font-family: 'Fauna One';
}

.text-2 {
  width: 59.5833333333%;
  min-height: 37px;
  margin: 29px 0 0 10%;
  font-family: 'Kite One';
}

.text-3 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 5px 0 0 32.99734%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-4 {
  position: relative;
  clear: both;
  z-index: 29;
  width: 8.9194499017%;
  min-height: 19px;
  margin: -27px 0 0 22.05305%;
  font-family: Verdana;
  text-align: right;
}

.text-5 {
  position: relative;
  z-index: 28;
  width: 4.9115913555%;
  min-height: 27px;
  margin: -27px 0 0 31.00135%;
  font-family: Verdana;
  text-align: right;
}

.text-6 {
  position: relative;
  z-index: 24;
  width: 8.4479371316%;
  min-height: 27px;
  margin: -27px 0 0 43.79298%;
  font-family: Verdana;
  text-align: right;
}

.text-7 {
  position: relative;
  clear: both;
  z-index: 31;
  width: 8.917608055%;
  min-height: 19px;
  margin: -27px 0 0 22.05305%;
  font-family: Verdana;
  text-align: right;
}

.text-8 {
  position: relative;
  z-index: 30;
  width: 4.9115913555%;
  min-height: 27px;
  margin: -27px 0 0 30.99521%;
  font-family: Verdana;
  text-align: right;
}

.text-9 {
  position: relative;
  z-index: 25;
  width: 8.4479371316%;
  min-height: 27px;
  margin: -27px 0 0 43.80833%;
  font-family: Verdana;
  text-align: right;
}

.wrapper-1 {
  width: 99.9898280948%;
  height: 239px;
  overflow: hidden;
}

.wrapper-2 {
  width: 99.9898280948%;
  height: 47px;
  margin-left: -0.05599%;
  overflow: hidden;
}

.wrapper-3 {
  width: 100%;
  height: 168px;
  margin-top: 30px;
  overflow: visible;
}

._button-1 {
  position: relative;
  z-index: 1;
  width: 5.1999999999%;
  height: 25px;
  margin: -36px 0 0 78%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

._button-5 {
  position: relative;
  z-index: 36;
  width: 9.0833333333%;
  height: 35px;
  margin: 9px 0 0 4.48047%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

._button-6 {
  position: relative;
  z-index: 4;
  width: 9.0833333333%;
  height: 35px;
  margin: 9px 0 0 1.59896%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

._button-7 {
  position: relative;
  clear: both;
  z-index: 37;
  width: 19.75%;
  height: 37px;
  margin: -94px 0 0 67.3125%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

._button-8 {
  position: relative;
  z-index: 5;
  width: 19.75%;
  height: 37px;
  margin: -37px 0 0 67.3125%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

.container ._button-2 {
  position: relative;
  z-index: 26;
  width: 23.6232932453%;
  height: 27px;
  margin: -27px 0 0 76.26473%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-3 {
  position: relative;
  z-index: 27;
  width: 23.6232932453%;
  height: 27px;
  margin: -27px 0 0 76.15422%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-4 {
  clear: both;
  width: 25.8675078864%;
  height: 25px;
  margin: 22px 0 0 70.347%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

.container ._select-1 {
  z-index: 22;
  margin-left: 54.08276%;
}

.container ._select-2 {
  z-index: 23;
  margin-left: 54.08583%;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}