body {
  background-color: rgb(102, 207, 214);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.checkbox {
  display: block;
  float: left;
  margin-top: 3px;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  width: 23.7408445609%;
  height: 27px;
}

.container .container {
  clear: both;
  width: 54.5110410094%;
  height: 128px;
  margin: 16px 0 0 9.8383299999%;
}

.container .element {
  clear: both;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.container,
.element {
  float: left;
}

.point-text {
  display: block;
  float: left;
  margin-left: 6px;
}

.text {
  float: left;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.wrapper {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
}

._select {
  display: block;
  position: relative;
  float: left;
  width: 13.8936612713%;
  height: 27px;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.checkbox-label-1 {
  z-index: 22;
}

.checkbox-label-2 {
  clear: both;
  z-index: 25;
  margin-top: 9px;
}

.checkbox-label-3 {
  clear: both;
  z-index: 28;
  margin-top: 6px;
}

.checkbox-label-4 {
  clear: both;
  z-index: 31;
  margin-top: 5px;
}

.container-1 {
  clear: both;
  width: 80%;
  height: 58px;
  margin: 25px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-2 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 52.8333333333%;
  height: 297px;
  margin: 24px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-3 {
  position: relative;
  z-index: 51;
  width: 25.5833333333%;
  height: 166px;
  margin: 24px 0 0 1.56641%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-4 {
  position: relative;
  clear: both;
  z-index: 43;
  width: 52.8333333333%;
  height: 384px;
  margin: 29px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-6 {
  position: relative;
  z-index: 19;
  width: 25.5833333333%;
  height: 384px;
  margin: 29px 0 0 1.58073%;
  background-color: rgba(0, 0, 0, 0.14);
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 48px;
  background-color: rgb(0, 100, 255);
}

.element-2 {
  width: 100%;
  margin-left: -0.0509%;
}

.element-3 {
  width: 100%;
}

.element-4 {
  width: 100.0661644951%;
  margin: 9px 0 0 -0.06616%;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 2;
  width: 13.5833333333%;
  min-height: 25px;
  margin: -36px 0 0 10%;
  font-family: Ubuntu;
  font-weight: 300;
  text-align: center;
}

.text-10 {
  position: relative;
  z-index: 34;
  width: 20.8427525092%;
  min-height: 27px;
  margin-left: 5.43901%;
  font-family: Verdana;
  text-align: right;
}

.text-11 {
  position: relative;
  z-index: 35;
  width: 20.8427525092%;
  min-height: 27px;
  margin: 9px 0 0 5.40284%;
  font-family: Verdana;
  text-align: right;
}

.text-12 {
  width: 73.4309836232%;
  min-height: 24px;
  margin: 13px 0 0 12.7544799999%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-13 {
  clear: both;
  width: 73.4309836232%;
  min-height: 24px;
  margin: 9px 0 0 12.7544799999%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-2 {
  width: 59.5833333333%;
  min-height: 37px;
  margin: 25px 0 0 9.58073%;
  font-family: 'Kite One';
}

.text-3 {
  width: 14.3899895724%;
  min-height: 35px;
  margin: 18px 0 0 10.15137%;
  font-family: Georgia;
  text-align: right;
}

.text-4 {
  width: 7.6120959332%;
  min-height: 35px;
  margin: 18px 0 0 15.00814%;
  font-family: Georgia;
  text-align: right;
}

.text-5 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 9px 0 0 3.02396%;
  font-family: 'Fauna One';
}

.text-6 {
  width: 35.5048859934%;
  min-height: 24px;
  margin: 8px 0 0 32.8634%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-7 {
  position: relative;
  clear: both;
  z-index: 45;
  width: 35.4794381107%;
  min-height: 35px;
  margin: 17px 0 0 -0.0509%;
  font-family: Georgia;
  text-align: right;
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 49;
  width: 31.5960912052%;
  min-height: 35px;
  margin-left: 3.97496%;
  font-family: Georgia;
  text-align: right;
}

.text-9 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 5px 0 0 32.99734%;
  font-family: 'Fauna One';
  text-align: center;
}

.wrapper-1 {
  width: 16.9968717413%;
  height: 24px;
  margin: 18px 0 0 1.00098%;
  overflow: hidden;
}

.wrapper-2 {
  width: 21.6892596454%;
  height: 24px;
  margin: 18px 0 0 0.8317099999%;
  overflow: hidden;
}

.wrapper-3 {
  clear: both;
  width: 100%;
  height: 168px;
  margin-top: 30px;
  overflow: visible;
}

.wrapper-4 {
  position: relative;
  z-index: 44;
  width: 56.7039674465%;
  height: 24px;
  margin: 17px 0 0 2.94178%;
  overflow: hidden;
}

.wrapper-5 {
  position: relative;
  z-index: 50;
  width: 56.7029723127%;
  height: 24px;
  margin-left: 2.79418%;
  overflow: hidden;
}

.wrapper-6 {
  clear: both;
  width: 99.9898280948%;
  height: 239px;
  overflow: hidden;
}

.wrapper-7 {
  clear: both;
  width: 99.9898280948%;
  height: 47px;
  margin-left: -0.05599%;
  overflow: hidden;
}

._button-7 {
  position: relative;
  clear: both;
  z-index: 4;
  width: 12.0833333333%;
  height: 37px;
  margin: 42px 0 0 23.58073%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

._button-8 {
  position: relative;
  z-index: 3;
  width: 12.0833333333%;
  height: 37px;
  margin: 42px 0 0 21.93099%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

.container ._button-1 {
  clear: both;
  width: 12.9337539432%;
  height: 25px;
  margin: 21px 0 0 80.56487%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

.container ._button-2 {
  clear: both;
  width: 26.7100977198%;
  height: 25px;
  margin: 8px 0 0 38.3652299999%;
  background-color: rgb(215, 216, 39);
  color: rgb(0, 0, 0);
}

.container ._button-3 {
  position: relative;
  z-index: 36;
  width: 23.6232932453%;
  height: 27px;
  margin-left: 9.68442%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-4 {
  position: relative;
  z-index: 37;
  width: 23.6232932453%;
  height: 27px;
  margin: 9px 0 0 9.68442%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-5 {
  position: relative;
  z-index: 38;
  width: 23.6232932453%;
  height: 27px;
  margin: 6px 0 0 52.62682%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._button-6 {
  position: relative;
  z-index: 39;
  width: 23.6232932453%;
  height: 27px;
  margin: 5px 0 0 52.62682%;
  background-color: rgb(255, 121, 23);
  font-family: 'Yanone Kaffeesatz';
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.container ._select-1 {
  z-index: 32;
  margin-left: 2.73985%;
}

.container ._select-2 {
  z-index: 33;
  margin: 9px 0 0 2.77602%;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}