body {
  background-color: rgb(102, 207, 214);
  font: 400 1em/1.38 Verdana;
  color: rgb(0, 0, 0);
}

.container,
.element {
  float: left;
}

.container .element {
  clear: both;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.container .text {
  float: left;
}

.point-text {
  display: block;
  float: left;
  margin-left: 6px;
  font-family: Helvetica;
}

.radio {
  display: block;
  float: left;
  margin-top: 3px;
}

.radio-label {
  display: block;
  position: relative;
  float: left;
  width: 7.0977917981%;
  height: 22px;
}

.text {
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.wrapper {
  float: left;
}

._button {
  display: block;
  float: left;
  border-radius: 3px;
  background-color: rgb(215, 216, 39);
  font-family: Helvetica;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._select {
  display: block;
  float: left;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(242, 242, 242);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.container ._button {
  width: 12.9337539432%;
  height: 25px;
}

.container-1 {
  clear: both;
  width: 80%;
  height: 58px;
  margin: 25px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-2 {
  clear: both;
  width: 80%;
  height: 326px;
  margin: 24px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 43;
  width: 52.8333333333%;
  height: 379px;
  margin: 26px 0 0 10%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-4 {
  position: relative;
  z-index: 21;
  width: 25.5833333333%;
  height: 374px;
  margin: 26px 0 0 1.56641%;
  background-color: rgba(0, 0, 0, 0.14);
}

.container-5 {
  clear: both;
  width: 79.9973958333%;
  height: 133px;
  margin: 16px 0 0 10%;
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 48px;
  background-color: rgb(0, 100, 255);
}

.element-2 {
  width: 100%;
}

.element-3 {
  width: 100.0661644951%;
  margin: 9px 0 0 -0.06616%;
}

.radio-label-1 {
  z-index: 30;
  margin-left: 3.28273%;
}

.radio-label-2 {
  z-index: 33;
}

.radio-label-3 {
  clear: both;
  z-index: 39;
  margin-left: 42.13821%;
}

.radio-label-4 {
  z-index: 42;
}

.text-1 {
  position: absolute;
  top: 12px;
  left: 10%;
  z-index: 2;
  width: 13.5833333333%;
  min-height: 25px;
  font-family: Ubuntu;
  font-weight: 300;
  text-align: center;
}

.text-10 {
  position: relative;
  clear: both;
  z-index: 26;
  width: 30.5993690851%;
  min-height: 27px;
  margin-left: 25.73689%;
  text-align: right;
}

.text-11 {
  position: relative;
  clear: both;
  z-index: 27;
  width: 30.5993690851%;
  min-height: 27px;
  margin-left: 25.73689%;
  text-align: right;
}

.text-12 {
  clear: both;
  width: 78.8643533123%;
  min-height: 27px;
  margin: 46px 0 0 9.77918%;
  text-align: center;
}

.text-13 {
  width: 73.4309836232%;
  min-height: 24px;
  margin: 13px 0 0 12.7544799999%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-14 {
  clear: both;
  width: 73.4309836232%;
  min-height: 24px;
  margin: 9px 0 0 12.7544799999%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-2 {
  float: left;
  clear: both;
  width: 59.1666666666%;
  min-height: 37px;
  margin: 25px 0 0 10%;
  font-family: 'Kite One';
}

.text-3 {
  width: 9.4637223974%;
  min-height: 35px;
  margin: 13px 0 0 3.40007%;
  font-family: Georgia;
  text-align: right;
}

.text-4 {
  width: 16.2460567823%;
  min-height: 35px;
  margin: 13px 0 0 7.10938%;
  font-family: Georgia;
  text-align: right;
}

.text-5 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 9px 0 0 3.02572%;
  font-family: 'Fauna One';
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 29.6529968454%;
  min-height: 27px;
  margin: 38px 0 0 9.83724%;
  text-align: right;
}

.text-7 {
  width: 35.58261041%;
  min-height: 24px;
  margin: 5px 0 0 32.99734%;
  font-family: 'Fauna One';
  text-align: center;
}

.text-8 {
  position: relative;
  clear: both;
  z-index: 24;
  width: 30.5993690851%;
  min-height: 27px;
  margin: 15px 0 0 25.7368888012%;
  text-align: right;
}

.text-9 {
  position: relative;
  z-index: 25;
  width: 3.1545741324%;
  min-height: 27px;
  margin: 15px 0 0 4.92163%;
  text-align: center;
}

.wrapper-1 {
  width: 27.0254545454%;
  height: 24px;
  margin: 13px 0 0 1.4420599999%;
  overflow: hidden;
}

.wrapper-2 {
  clear: both;
  width: 100%;
  height: 168px;
  margin-top: 30px;
  overflow: visible;
}

.wrapper-3 {
  clear: both;
  width: 99.9898280948%;
  height: 239px;
  overflow: hidden;
}

.wrapper-4 {
  clear: both;
  width: 99.9898280948%;
  height: 47px;
  margin-left: -0.05599%;
  overflow: hidden;
}

._button-3 {
  position: relative;
  clear: both;
  z-index: 4;
  width: 12.0833333333%;
  height: 37px;
  margin: 21px 0 0 23.58073%;
}

._button-4 {
  position: relative;
  z-index: 3;
  width: 12.0833333333%;
  height: 37px;
  margin: 21px 0 0 21.93099%;
}

.container ._button-1 {
  position: relative;
  z-index: 6;
  margin: 38px 0 0 28.89486%;
}

.container ._button-2 {
  margin: 85px 0 0 20.86948%;
}

.container ._select-1 {
  width: 27.0254545454%;
  height: 24px;
  margin: 13px 0 0 1.87663%;
  font-family: Georgia;
}

.container ._select-2 {
  position: relative;
  z-index: 8;
  width: 7.573442429%;
  height: 27px;
  margin: 38px 0 0 1.25977%;
  font-family: Helvetica;
}

.container ._select-3 {
  position: relative;
  z-index: 34;
  width: 14.1955835962%;
  height: 22px;
  margin-left: 3.28273%;
  font-family: Helvetica;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}